.horseRaceGame {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 15rem;
}

.title {
  text-align: center;
  margin: 0.5rem 0;
  font-size: 1.75rem;
  color: #222;
}

.raceTrack {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--color-green);
  height: 60rem;
}

.lanes {
  flex: 1 1 auto;
  height: 100%;
}

.lane {
  position: relative;
  width: 100%;
  height: 6rem;
  border-top: 2px dashed var(--white);
  padding-right: 5rem;

  &:first-child {
    border-top: none;
  }
}

.startingGate {
  position: absolute;
  left: 0;
  width: 4rem;
  height: 100%;
  text-align: center;
  line-height: 6rem;
  font-weight: bold;
  font-size: 2rem;
  color: var(--white);
  z-index: 3;
  border: 2px solid var(--white);
  text-shadow: 1px 1px 2px var(--black);
}

.laneName {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--white);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0.7;
}

.finishLine {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  right: 0;
  width: 6rem;
  height: 100%;
  text-align: center;
  line-height: 6rem;
  font-weight: bold;
  font-size: 2rem;
  color: var(--white);
  z-index: 3;
  border: 2px solid var(--white);
  text-shadow: 1px 1px 2px var(--black);

  & > .finishAreaText {
    display: inline-block;
    opacity: 0;

    &.show {
      opacity: 1;
      animation: fadeInOut 0.5s ease-in-out forwards;
    }
  }
}

.raceHorse {
  display: flex;
  width: 4rem;
  height: 4rem;
  position: relative;
  top: 50%;
  left: var(--percent);
  transform: translateY(-50%);
  z-index: 2;

  &.running {
    animation: gallop 0.5s ease-in-out alternate infinite;
  }
}

.raceHorseIcon {
  width: 4rem;
  height: 4rem;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

@keyframes gallop {
  0% {
    transform: translateY(-50%) rotate(0deg) scale(1);
  }
  25% {
    transform: translateY(-52%) rotate(-1deg) scale(1.02);
  }
  50% {
    transform: translateY(-48%) rotate(1deg) scale(0.98);
  }
  75% {
    transform: translateY(-52%) rotate(-0.5deg) scale(1.01);
  }
  100% {
    transform: translateY(-50%) rotate(0deg) scale(1);
  }
}

@keyframes fadeInOut {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

.noRace {
  text-align: center;
  font-size: 1.25rem;
  color: var(--color-text-secondary);
  margin-top: 2rem;
  font-weight: 500;
}
