.header {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--color-pink);
  height: var(--header-height);
}

.title {
  font-size: 1.75rem;
}

.buttons {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}
