.scheduleList {
  height: 100%;
  width: 20rem;
  overflow-y: auto;
  border-left: 1px solid #ddd;
}

.noProgram {
  text-align: center;
  font-size: 1rem;
  color: var(--color-text-secondary);
  margin-top: 2rem;
  font-weight: 500;
  padding: 0 1rem;
}
